* {
  box-sizing: border-box;
}


@font-face {
  font-family: revolut-capital;
  src: url("assets/fonts/AeonikPro-Black-Capitalised.woff2");
}

@font-face {
  font-family: revolut-medium;
  src: url("assets/fonts/AeonikPro-Medium.woff2");
}

@font-face {
  font-family: "revolut-black";
  src: url("assets/fonts/AeonikPro-Black.woff2");
}

@font-face {
  font-family: "revolut-regular";
  src: url("assets/fonts/AeonikPro-Regular.woff2");
}

@font-face {
  font-family: "inter-bold";
  src: url("assets/fonts/Inter-Bold.woff2");
}

@font-face {
  font-family: "inter-medium";
  src: url("assets/fonts/Inter-Medium.woff2");
}

@font-face {
  font-family: "inter-regular";
  src: url("assets/fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: "inter-semibold";
  src: url("assets/fonts/Inter-SemiBold.woff2");
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.country-container {
  position: relative;
  z-index: 5;
  margin: 0;
  padding-inline: 20px;
  background-color: white;
  padding-block: 12px;
  border-bottom: 1px solid #e2e2e7;
  display: grid;
  margin-inline: auto;
  max-width: 1000px;
  gap: 12px;
  grid-template:
    " close message message"
    "dropdown dropdown button" / max-content 1fr 40px;
  place-items: center start;
}

.country-container
 .country-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.18px;
  grid-area: message;
  color: #505a63;
  font-family: "inter-regular";
  margin: 0;
}

.country-container
 .close-button {
  grid-area: close;
  cursor: pointer;
  color: #505a63;
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  cursor: pointer;
  filter: brightness(100%);
}

.country-container 
  .close-button-image {
  display: block; 
  flex: 0 0 auto; 
  width: 24px; 
  height: 24px; 
  background-color: rgb(80, 90, 99); 
  mask: url("https://assets.revolut.com/assets/icons/Cross.svg") no-repeat center / contain;
}

.country-container 
  .country-dropdown {
  grid-area: dropdown;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 8px;
  border: none;
  width: 100%;
  border-radius: 12px;
  gap: 8px;
  align-items: center;
}

.country-container 
 .country-dropdown 
  .india-text {
  font-family: "inter-regular";
  font-weight: 400;
  background-color: #ebebf0;
  line-height: 22px;
  font-size: 14px;
  letter-spacing: -0.07008px;
  flex: 1 1 0%;
  margin-right: 16px;
  color: #191c1f;
}

.down-arrow{
  display: block; 
  flex: 0 0 auto; 
  width: 24px; 
  height: 24px; 
  background-color: rgb(80, 90, 99); 
  mask: url("https://assets.revolut.com/assets/icons/ChevronDown.svg") no-repeat center / contain;
}

.country-container 
 .send-button {
  grid-area: button;
  cursor: pointer;
  border: none;
  background-color: black;
  padding: 8px;
  border-radius: 100%;
  height: 40px;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-container
 .send-button-image {
  filter: invert(1);
}

.header-section {
  position: relative;
  top: 0px;
  width: 100%;
  height: 56px;
  color: white;
  z-index: 3;
  background-color: transparent;
  transition: background-color 200ms, top 200ms, opacity 300ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin-inline: auto;
  padding: 12px 20px;
}

.header-section
 .revolut-title {
  display: flex;
  align-items: center;
}

.header-section
 .revolut-title-image {
  filter: invert(1);
  height: 24px;
  align-self: center;
  position: relative;
  margin-top: -2px;
}

.header-section
 .menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.header-section
 .menu-button
  .hamburger-icon {
  filter: invert(1);
}

.nav-section {
  display: none;
}

.hero-section {
  position: relative;
  top: calc(-1 * 56px);
  z-index: 1;
  padding-top: 56px;
  min-height: 100vh;
  width: 100%;
  margin-bottom: calc(-1 * 56px);
  overflow-x: hidden;
}

.viewport-size {
  width: 100vw !important;
  height: 100vh !important;
}

.hero-background-image {
  position: absolute;
  bottom: 0px;
  transform: translate(-50%, 0px) scale(1.75);
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  object-fit: cover;
  object-position: center bottom;
}

.hero-section
 .hero-image {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  transform-origin: 50% 100%;
  pointer-events: none;
  display: block;
  width: calc(201.6vh);
  height: calc(112vh);
  min-height: 370px;
  min-width: 665px;
}

.hero-section
 .hero-content-container {
  padding: 32px 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: revolut-medium;
  color: white;
}

.hero-section
 .hero-content-container
  .hero-title {
  font-size: clamp(2.25rem, 1.65rem + 2.46vw,3rem);
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

.hero-section
 .hero-description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-block: 16px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 240px;
  padding: 10px 24px;
  background-color: #191c1f;
  color: white;
  border: none;
  font-family: revolut-medium;
  border-radius: 9999px;
  width: fit-content;
  cursor: pointer;
}

.hero-card-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 32px 16px;
  border: 3px solid #c9c9cd;
  position: relative;
  border-radius: calc(2.5vh);
}

.hero-card-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.hero-card-overlay {
  width: 100%;
  height: 100%;
  padding-bottom: calc(1 / 0.7086614173228346 * 100%);
}

.personal-account-align {
  display: flex;
  width: 1000px;
  overflow-x: hidden;
  align-items: center;
  gap: 16px;
}

.carousel-card-section {
  position: relative;
  display: flex;
  padding: 48px 20px;
  width: 100%;
  overflow: hidden;
  max-width: 1000px;
  flex-direction: column;
  margin-inline: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.card-heading {
  font-size: clamp(2rem, 1.8rem + 0.82vw, 2.25rem);
  font-weight: 500;
  line-height: 1;
  text-align: start;
  white-space: pre-wrap;
  font-family: revolut-medium;
  margin: 0;
}

.card-description {
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  font-family: revolut-medium;
  margin: 0;
}

.personal-account-description{
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  font-family: revolut-medium;
  margin: 0;
}

.carousel-img-container {
  display: flex;
  align-self: flex-start;
  width: 232px;
  position: relative;
  height: 327.378px;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-img-container
 .background-image-primary {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 50% 100%;
  pointer-events: none;
  display: block;
  width: auto;
  height: calc(572.911px);
}

.carousel-img-container
 .personal-account-image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.house-bill-container {
  width: 208.8px;
  height: 294.64px;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
}

.bill-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.margin-4{
  margin-top: 4px;
}

.margin-top-16 {
  margin-top: 16px;
}

.carousel-pointers {
  position: absolute;
  left: 32%;
  bottom: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.carousel-dot-active {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #8d969e;
}

.carousel-dot {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #8d969e;
}

.popularity-container {
  margin-block: 48px;
  padding-inline: 20px;
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.popularity-title {
  font-family: revolut-medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.24px;
  text-align: start;
  color: #505a63;
  margin: 0;
}

.platform-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.available-platform {
  width: 146px;
  display: flex;
  flex-direction: column;
}

.platform-text {
  margin-top: 8px;
  font-family: revolut-medium;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: normal;
  text-align: center;
}

.platform-image {
  width: 100%;
  height: 58.39px;
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.customer-satisfaction {
  margin-block: 48px;
  padding-inline: 20px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  min-height: 640px;
  position: relative;
  background-color: #000;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.video-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: grid;
  grid-template-areas:
    "content"
    "media"
    "tabs";
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 640px;
  max-width: 1000px;
  padding-block: 48px;
  color: white;
}

.content-section {
  display: flex;
  flex-direction: column;
  grid-area: "text";
  max-width: 1000px;
  gap: 16px;
  padding-inline: 20px;
  margin-bottom: 24px;
  font-family: revolut-medium;
}

.content-heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0px;
}

.meet-savings-discription{
  display: flex;
  flex-direction: column;
  gap:4px;
  width: 100%;
}

.content-description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  display: block;
}

.stock-height{
  height: 222px;
}

.content-terms {
  font-size: 12px;
  font-family: "inter-regular";
  line-height: 18px;
  letter-spacing: 0.18px;
  font-weight: 400;
}

.content-button {
  margin-top: 4px;
  padding-inline: 24px;
  padding-block: 10px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  align-self: flex-start;
  border-radius: 20px;
  font-family: revolut-medium;
  align-items: center;
  cursor: pointer;
}

.explore-stocks-section {
  position: relative;
  height: 388px;
  align-self: center;
  width: 100%;
  grid-area: media;
}

.object-fit-cover {
  object-fit: cover;
}

.card-buttons {
  padding-inline: 20px;
  margin-top: 16px;
  grid-area: tabs;
  width: fit-content;
  display: flex;
  gap: 12px;
  align-items: flex-end;
  margin-inline: calc(-1 * 20px);
  max-width: 100vw;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
}

.savings-card-buttons{
  padding-inline: 20px;
  margin-top: 16px;
  grid-area: tabs;
  width: fit-content;
  display: flex;
  gap: 12px;
  align-items: flex-end;
  /* margin-inline: calc(-1 * 20px); */
  max-width: 100vw;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
}

.physical-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  height: 42px;
  padding: 10px 26px;
  background-color: #f4f4f4;
  color: #000;
  font-family: revolut-medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 240px;
  border: none;
  border-radius: 20px;
}

.virtual-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  height: 42px;
  padding: 10px 24px;
  background-color: transparent;
  color: white;
  font-family: revolut-medium;
  border: 2px solid white;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 240px;
  border-radius: 20px;
}

.life-image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-position: center;
  object-fit: cover;
}

.background-white {
  background-color: white;
}

.text-black {
  color: #000;
}

.margin-block-18 {
  margin-block: 18px;
}

.margin-top-20 {
  margin-top: 20px;
}

.explore-stocks-video {
  height: 446px;
  grid-area: media;
  width: 100%;
  position: relative;
  align-self: center;
}

.height-388 {
  height: 388px;
}

.aspect-ratio {
  aspect-ratio: 0.842697 / 1;
  object-fit: contain !important;
}

.coin-loop {
  inset: 0px 20px;
  height: 100%;
  object-fit: cover;
  margin-inline: auto;
  backface-visibility: hidden;
  position: absolute;
}

.margin-inline-center {
  margin-inline: auto;
  justify-content: center;
}

.margin-0 {
  margin: 0;
}

.app-download-section {
  margin-block: 48px;
  padding-inline: 20px;
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  text-align: start;
}

.download-text {
  font-family: revolut-medium;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin: 0;
}

.policy-section {
  padding-inline: 20px;
  padding-bottom: 60px;
  max-width: 1000px;
  margin-inline: auto;
  color: #191c1f;
  width: 100%;
  font-family: "inter-regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.18px;
  text-align: start;
}

.policy-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.policy-link {
  color: inherit;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  width: 100%;
  background-color: #191c1f;
  margin-inline: auto;
}

.footer-heading {
  color: white;
  margin-block: 40px;
  padding-inline: 20px;
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.28px;
  font-family: revolut-medium;
}

.subscription-list-container {
  padding-inline: 20px;
  margin-block: 20px;
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
}

.subscription-section {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.subscription-card {
  background-color: #f7f7f7;
  padding-inline: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  word-break: break-word;
  border-radius: 20px;
  flex-direction: column;
}

.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 4px;
  flex: 1;
}

.arrow-right-image {
  display: block; 
  flex: 0 0 auto; 
  width: 24px; 
  height: 24px; 
  background-color: #000; 
  mask: url("https://assets.revolut.com/assets/icons/ArrowThinRight.svg") no-repeat center / contain;
  
}

.subscription-card-heading {
  font-family: revolut-medium;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.22px;
  margin: 0;
}

.subscription-price-text {
  font-family: revolut-medium;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 24px;
}

.subscription-description {
  font-family: "inter-regular";
  font-size: 14px;
  line-height: 22px;
  color: #505a63;
  letter-spacing: -0.07008px;
  margin: 0;
}

.arrow-right {
  height: 32px !important;
  width: 32px;
  border-radius: 9999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: end;
  margin: 0 0 0 auto;
}

.subscription-card:hover .arrow-right{
  background-color: #000;
}

.subscription-card:hover .arrow-right-image{
  background-color: #fff;
}

.arrow-right,
.arrow-right-image {
  transition: background-color 0.3s ease; 
}

.footer-nav {
  padding-inline: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.footer-nav {
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  display: flex;
}

.footer-nav-menu {
  display: flex;
  padding-block: 8px;
  justify-content: space-between;
  font-family: "inter-semibold";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.12px;
  color: white;
  background-color: transparent;
  width: 100%;
  margin-bottom: 8px;
  border: none;
  padding-inline: 0px;
}

.arrow-down {
  background-image: url("https://assets.revolut.com/assets/icons/16/ChevronDownSmall.svg");
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  display: block;
  filter: invert(1);
}

.social-media-container {
  display: flex;
  padding-inline: 20px;
  margin-block: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(255 255 255/0.1);
  list-style: none;
  gap: 8px;
  align-items: center;
}

.revolut-icon {
  display: flex;
  align-items: center;
  height: 24px;
  flex: 1;
}

.footer-revolut-svg {
  margin-top: -2px;
  height: 16px;
}

.social-icon-container {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  background-color: #8d969e;
  height: 16px;
  width: 16px;
  
}

.web-info-section {
  display: grid;
  column-gap: 32px;
  row-gap: 12px;
  grid-template-columns: auto auto 1fr;
  padding-inline: 20px;
  margin-bottom: 40px;
}

.uk-btn {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.18px;
  height: 26px;
  border: none;
  color: #8d969e;
  background-color: transparent;
  align-items: center;
  position: relative;
  border-radius: 12px;
  gap: 8px;
  font-family: "inter-regular";
  padding: 0;
}

.web-terms-container {
  flex-wrap: wrap;
  grid-area: 2/1 / auto/ span 3;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #8d969e;
}

.web-terms {
  margin-right: 24px;
  padding-block: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.18px;
  font-family: "inter-regular";
}

.revolut-info {
  color: #8d969e;
  margin-bottom: 40px;
  padding-inline: 20px;
  max-width: 1000px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.18px;
  font-family: "inter-regular";
  text-align: start;
}

.revolut-link {
  color: #8d969e;
}

.logo-container {
  flex: 1;
  height: 32px;
}

.font-bold {
  font-family: "inter-bold";
}

.hero-card-align {
  display: none;
}

.display-in-align {
  display: none !important;
}

.display-in-desk {
  display: none !important;
}

@media screen and (min-width: 450px) {
  .hero-card-mobile {
    width: calc(49.6063vh);
    margin-inline: auto;
  }
}

@media screen and (max-width: 719px) {
  .display-none-mobile {
    display: none;
  }

  .margin-bottom-16 {
    margin-bottom: 16px;
  }
}

/* tab-size  */

@media screen and (min-width: 720px) {
  .country-container {
    gap: 16px;
    grid-template: "close message dropdown button" / auto 1fr max-content 40px;
  }

  .hero-section .hero-content-container {
    padding: 48px 20px 24px;
    z-index: 2;
  }

  .hero-section .hero-content-container .hero-title {
    font-size: clamp(5rem, 4.1rem + 1.64vw, 6.5rem);
    letter-spacing: -2.08px;
  }

  .hero-section .hero-description {
    margin-block: 24px;
  }

  .house-bill-container {
    display: block;
  }

  .display-none-md {
    display: none;
  }

  .carousel-card-section .card-content {
    margin-bottom: 24px;
    align-items: center;
  }

  .card-heading {
    font-size: 48px;
    letter-spacing: -0.6px;
  }

  .card-description {
    text-align: center;
  }
  .meet-savings-discription{
    gap: 8px;
  }

  .personal-account-description{
    text-align: center;
  }

  .personal-account-align {
    width: 96%;
    margin-inline: auto;
    justify-content: center;
    gap: 24px;
  }

  .personal-account-container{
    position: absolute;
    bottom: 0px;
    top: 0px;
    min-height: max(100vh, 530px);
    padding: 4rem 0px;
    width: 100%;
    overflow: hidden;
  }
  .house-bill-container{
    height: 314.64px;
  }

  .personal-account-bottom-align{
    position: relative;
    min-height: 530px;
    height: 100vh;
    padding-top: 72px;
  }

  .popularity-title {
    text-align: center;
  }

  .available-platform {
    width: 231px;
  }

  .platform-image {
    height: 92.399px;
  }

  .awards-card {
    width: 316px;
  }

  .awards-card-image {
    height: 126.39px;
  }

  .content-section {
    align-items: center;
    text-align: center;
  }

  .content-button {
    align-self: center;
  }

  .content-heading {
    font-size: clamp(3rem, 2.55rem + 0.82vw, 3.75rem);
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 1;
  }

  .explore-stocks-section {
    height: initial;
  }

  .height-218 {
    height: 218px;
  }

  .object-contain {
    object-fit: contain;
  }

  .card-buttons {
    justify-content: center;
    margin-inline: auto;
    margin-top: 24px;
  }

  .savings-card-buttons{
    justify-content: center;
    margin-inline: auto;
    margin-top: 24px;
  }

  .explore-stocks-video {
    height: 310px;
  }

  .coin-loop {
    object-fit: contain;
    margin-inline: auto;
  }

  .height-232 {
    height: 232px;
  }

  .app-download-section {
    text-align: center;
    align-items: center;
  }

  .download-text {
    font-size:clamp(3rem, 2.55rem + 0.82vw, 3.75rem);
    letter-spacing: -0.6px;
    font-weight: 500;
    line-height: 1;
  }

  .policy-text {
    text-align: left;
  }

  .subscription-section {
    grid-template-columns: repeat(12, 1fr);
  }

  .subscription-card:first-child {
    grid-column: 1/5;
  }

  .subscription-card:nth-child(2) {
    grid-column: 5/9;
  }

  .subscription-card:nth-child(3) {
    grid-column: 9/13;
  }

  .subscription-card:nth-child(4) {
    grid-column: 1/7;
  }

  .subscription-card:nth-child(5) {
    grid-column: 7/13;
  }

  .footer-nav {
    flex-direction: row;
    gap: 16px;
  }

  .footer-nav-list {
    overflow: hidden;
    padding-right: 16px;
    padding-bottom: 8px;
  }

  .footer-nav-heading {
    font-family: "inter-semibold";
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.12px;
    margin: 0;
    color: white;
    padding: 8px 0;
  }

  .footer-nav-link {
    padding-block: 8px;
    text-decoration: none;
    color: #8d969e;
    font-family: "inter-regular";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.18px;
    display: block;
  }

  .footer-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
 
}

/* laptop */

@media screen and (min-width: 1024px) {
  .country-container {
    padding-inline: 0px;
  }

  .display-block {
    display: block;
  }

  .header-section {
    padding: 16px 0;
    height: 72px;
    justify-content: unset;
  }

  .header-section .revolut-title {
    height: 32px;
    width: 94.94px;
  }

  .menu-button {
    display: none !important;
  }

  .nav-section {
    display: flex;
    align-items: center;
    column-gap: 16px;
    grid-template-columns: 1fr auto;
    margin-left: 32px;
    justify-content: space-between;
    width: 100%;
  }

  .nav-section .nav-menu-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 1;
  }

  .meet-savings-discription{
    align-items: center;
  }

  .nav-section .nav-menu-container .nav-menu {
    max-width: 720px;
    align-items: center;
    text-decoration: none;
    padding: 8px 10px;
    margin-inline: 4px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    width: min-content;
    font-family: revolut-medium;
    white-space: nowrap;
  }

  .auth-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .auth-buttons-common {
    font-family: revolut-medium;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .login-button {
    background-color: transparent;
    color: white;
  }

  .signup-button {
    background-color: #f4f4f4;
    color: black;
    border-radius: 24px;
  }

  .hero-section {
    position: relative;
    top: calc(-1 * 72px);
    height: 100vh;
    padding-top: 72px;
    left: 0;
  }

  .hero-section .hero-image {
    width: calc(126vh);
    height: calc(70vh);
    transform: translate(-50%, 0px) scale(1.75);
  }

  .hero-section .hero-content-container {
    padding: 48px 0 24px;
  }

  .hero-section .hero-content-container .hero-title {
    font-size: clamp(5rem,4.1rem + 1.64vw, 6.5rem);
  }

  .hero-section .hero-description {
    width: 40%;
  }

  .display-none-align {
    display: none !important;
  }

  .hero-card-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: calc(70vh);
    padding-block: 64px;
    top: 50%;
  }

  .hero-card-align {
    display: flex;
    align-items: center;
    height: calc(70vh);
    width: calc(49.6063vh);
    position: absolute;
    transform-origin: 50% 100%;
    transform: translateY(0px) scale(1);
    bottom: 0;
  }

  .hero-card-overlay {
    height: calc(70vh);
    border: 3px solid #c9c9cd;
    border-top-left-radius: calc(2.5vh);
    border-top-right-radius: calc(2.5vh);
    width: calc(49.6063vh);
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }

  .hero-card-align-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .background-image-women {
    width: calc(126vh);
    height: calc(70vh);
    transform: translate(-50%, 0px) scale(1.75);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform-origin: 50% 100%;
    pointer-events: none;
    display: block;
  }

  .popularity-container {
    margin-block: 80px;
    padding-inline: 0;
    gap: 56px;
  }

  .popularity-title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.32px;
  }

  .center-container {
    min-height: max(640px, 100vh);
  }

  .video-overlay-container {
    min-height: max(640px, 100vh);
    padding-block: 64px;
  }

  .content-section {
    padding-inline: 0;
    margin-bottom: 32px;
    align-items: center;
    gap: 24px;
  }


  .personal-account-description{
    width: 80%;
  }

  .content-description,
  .content-terms {
    width: 60%;
  }
  .content-button {
    max-width: 720px;
  }

  .stock-height{
    height: 243.2px;
  }

  .content-button{
    margin-top: 8px;
  }
  
  .explore-stocks-section {
    height: 422.8px;
  }

  .height-90vh {
    min-height: 90vh;
  }

  .money-safe-align {
    grid-template-areas: "content media";
    grid-template-rows: initial;
    grid-template-columns: 488px 450px;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    min-height: 90vh;
  }

  .content-section-align {
    text-align: start;
    align-items: start;
  }

  .width-full {
    width: 100%;
    margin-block: 18px ;
  }

  .max-height-600 {
    max-height: 600px !important;
    height: 100% !important;
    height: 100%;
  }

  .margin-top-32 {
    margin-top: 32px;
  }


  .coin-loop-align {
    inset: 0;
  }

  .explore-stocks-video {
    height: 404.8px;
  }
  .app-download-section {
    margin-block: 80px;
    padding: 0;
  }

  .policy-section,
  .subscription-list-container,
  .footer-nav,
  .social-media-container,
  .revolut-info,
  .web-info-section {
    padding-inline: 0;
  }

  .footer-section {
    padding: 40px calc((100vw - 1000px) / 2);
  }

  .footer-heading {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    padding: 0;
  }

  .web-terms-container {
    grid-area: 1/3;
  }

  .social-media-container {
    padding-bottom: 8px;
  }

  .display-in-align {
    display: block !important;
  }

  .subscription-section {
    gap: 24px;
  }

  .subscription-list {
    margin-bottom: 8px;
  }

  .subscription-card-heading {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.24px;
  }

  .content-description {
    margin-bottom: 0;
  }

  .margin-top-8 {
    margin-top: 8px;
  }

  .margin-bottom-0 {
    margin-bottom: 0;
  }

  .customer-satisfaction {
    margin: 80px 12px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .nav-section
   .nav-menu-container
    .nav-menu {
    padding: 8px 20px;
  }

  .policy-section {
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1440px) {


  .hero-card-mobile {
    top: 158px;
  }

  .explore-stocks-video {
    height: 433.399px;
  }

  .height-419 {
    height: 419.399px;
  }
}

/* desktop size  */


@media screen and (min-width: 1920px) {
  .country-container {
    max-width: 1432px;
    grid-template: "close message dropdown button" / auto 1fr max-content 60px;
  }

  .country-container .country-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
  }

  .country-container .country-dropdown {
    padding: 16px;
  }

  .country-container .country-dropdown .india-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.09008px;
  }

  .country-container .send-button {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    width: 60px;
    height: 60px;
  }

  .header-section {
    height: 88px;
    max-width: 1432px;
  }

  .header-section .revolut-title {
    height: 40px;
    width: 128.72px;
  }

  .header-section .revolut-title .revolut-title-image {
    height: 40px;
  }

  .nav-section .nav-menu-container .nav-menu {
    padding: 8px 24px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
  }

  .auth-buttons-common {
    padding: 14px 32px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 28px;
  }

  .hero-section .hero-content-container .hero-title {
    font-size: 136px;
    letter-spacing: -2.72px;
  }
  .hero-section .hero-description {
    margin-block: 40px;
    font-size: 24px;
    line-height: 32px;
  }

  .hero-section {
    top: calc(-1 * 88px);
    padding-top: 88px;
  }

  .hero-section .hero-content-container {
    max-width: 1432px;
    padding: 80px 0 32px;
  }

  .hero-button {
    padding: 14px 32px;
    font-size: 20px;
    line-height: 28px;
  }

  .footer-section {
    padding: 40px calc((100vw - 1432px) / 2);
  }

  .revolut-info {
    max-width: 1432px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
  }

  .uk-btn {
    height: 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
  }

  .web-terms,
  .footer-nav-link,
  .policy-link,
  .policy-text,
  .policy-section,
  .content-terms {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    width: auto;
  }
  .footer-revolut-svg {
    height: 24px;
  }

  .revolut-icon {
    height: 32px;
  }
  .footer-nav-heading {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }

  .display-none-desk {
    display: none !important;
  }

  .display-in-desk {
    display: block !important;
  }

  .subscription-card {
    padding: 32px 32px 24px 32px;
  }

  .subscription-list-container,
  .policy-section {
    max-width: 1432px;
  }

  .footer-heading {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.48px;
  }

  .subscription-card-heading {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.32px;
  }

  .subscription-price-text {
    font-size: 24px;
    line-height: 32px;
  }

  .subscription-description {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.09008px;
  }

  .download-text {
    letter-spacing: -0.8px;
    font-size: 80px;
  }

  .app-download-section {
    max-width: 1432px;
    gap: 32px;
    margin-block: 160px;
  }

  .content-section {
    margin-bottom: 48px;
  }

  .content-heading,
  .card-heading {
    font-size:80px;
    margin-bottom: 32px;
  }

  .content-description {
    font-size: 24px;
    line-height: 32px;
    margin-block: 24px;
    width: auto;
  }

  .content-button {
    padding: 14px 32px;
    border-radius: 9999px;
    max-width: 1024px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 28px;
  }

  .card-buttons {
    margin-top: 32px;
  }

  .savings-card-buttons{
    margin-top: 32px;
  }

  .physical-card,
  .virtual-card {
    height: 56px;
    font-size: 20px;
    cursor: pointer;
    line-height: 28px;
    padding-inline: 32px;
    border-radius: 9999px;
  }

  .explore-stocks-video {
    height: 500px;
  }

  .center-container-desk {
    grid-template-columns: 696px 600px;
    padding-block: 80px;
  }

  .money-safe-align {
    max-width: 1432px;
    grid-template-columns: 696px 600px;
  }

  .coin-loop-container-desk {
    height: 860px !important;
    max-height: 860px !important;
  }

  .height-540 {
    height: 540px;
    width: 1080px;
  }

  .popularity-container,
  .customer-satisfaction {
    margin-block: 160px;
    max-width: 1432px;
    margin-inline: auto;
  }

  .popularity-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }

  .platform-text {
    line-height: 28px;
    font-size: 20px;
  }

  .carousel-card-section {
    max-width: 1432px;
  }

  .platform-container {
    gap: 32px;
  }

  .carousel-img-container-desk {
    width: 320.88px;
    height: 452.8px;
  }

  .carousel-img-desk {
    width: calc(126vh) !important;
    height: calc(70vh) !important;
  }

  .card-description {
    font-size: 24px;
    line-height: 28px;
    width: 934px;
  }

  .house-bill-container {
    width: 288.79px;
    height: 407.52px;
  }

  .video-overlay-container {
    padding-block: 80px;
  }

  .margin-block-0{
    margin-block: 0;
  }

  .margin-top-40{
    margin-top: 40px;
  }
}